.avatar {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
  }
  
  .avatar img {
    width: 100%;
    height: 100%;
  }
  
  .avatar audio {
    display: none;
  }
  
  .avatar.talking img {
    animation: talking 0.3s steps(5) infinite;
  }
  
  @keyframes talking {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-5px);
    }
  }
  